{% extends "index.html" %}

{% block title %}Sign in to your Account{% endblock %}

{% block body %}
  <h2>Welcome Back Existing Users!!</h2>
  {% if error %}<div><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method="POST">
    <dl>
      <dt>Username:
      <dd><input type="text" name="username" size="50" value="{{ request.form.username }}">
      <dt>Password:
      <dd><input type="password" name="password" size="80">
    </dl>
    <div><input type="submit" value="Log In"></div>
  </form>
{% endblock %}